#carrito {
    position: fixed;
    right: -400px; /* Escondido fuera de la vista */
    top: 0;
    width: 400px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    padding: 20px;
    overflow-y: auto;
    transition: right 0.3s ease; /* Efecto de transición */
    color:#000;
    overflow: hidden;
}

#carrito.carrito-visible {
    right: 0; /* Mostrar el sidebar */
}

#carrito h2 {
    margin-top: 0;
}



.cart {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    border-radius: 8px;
}

h2 {
    margin-top: 0;
    text-align: center;
}

.cart-item {
    display: flex;
    margin-bottom: 20px;
}

.cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 8px;
}

.item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #333;
}

.item-details p {
    margin: 0;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-btn {
    background-color: #ddd;
    border: none;
    padding: 5px;
    cursor: pointer;
}

input[type="number"] {
    width: 40px;
    text-align: center;
    margin: 0 5px;
}

.price {
    font-weight: bold;
    color: #333;
}

.delete-btn {
    background-color: #ff4d4d;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    align-self: flex-start;
    border-radius: 4px;
}

.shipping-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0f7fa;
    padding: 10px;
    border-radius: 8px;
    margin: 20px 0;
}

.shipping-info p {
    margin: 0;
}

.subtotal,
.total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin: 10px 0;
}

.shipping-methods {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.expand-btn {
    background-color: #ddd;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.checkout-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 10px;
}

.view-more-btn {
    background-color: #f4f4f4;
    color: #333;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
}


.step-active {
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.step-exit {
    transform: translateX(-100%);
    display: none;
}




.modal-finalizar-compra {
    position: relative;
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    width: 400px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.modal-finalizar-compra h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.close-button-finalizar-compra {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff5b5b;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-button-finalizar-compra:hover {
    background-color: #ff3838;
}

.form-group-finalizar-compra {
    margin-bottom: 20px;
}

label.label-finalizar-compra {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
}

input.input-finalizar-compra, select.select-finalizar-compra {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
}

input.input-finalizar-compra:focus, select.select-finalizar-compra:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button-container-finalizar-compra {
    text-align: center;
}

button.button-finalizar-compra {
    background-color: #858b86;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button.button-finalizar-compra:hover {
    background-color:  #858b86;
}