<%-include('../partials/head')-%>

    <%-include('../partials/navbar')-%>

        <div class="table_container_general">
            <div>
                <table id="datatable_libros" class="table table-striped align-middle table-row-dashed fs-6 gy-5">
                    <thead>
                        <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0 tamaño_letra ">
                            <th>Titulo</th>
                            <th>Autor</th>
                            <th>Categoria</th>
                            <th>Subcategoria</th>
                            <th>Paginas</th>
                            <th>Idioma</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                            

                            

                        </tr>
                    </thead>
                    <tbody class="text-gray-600 fw-semibold tamaño_letra">
                        
                    </tbody>
                </table>

            </div>
      

            <div id="formulario_planilla_libros"> 
            <!-- tengo este div aparte ya que es el contenedor donde siempre van a haber distintos datos de clientes segun que fila selecciono para editar , tengo que tener un lugar para decir donde poner esa informacion -->

               
                <%-include('../pages/formulario_libros',{data:[]})-%>

            </div>

      
        </div>




        <script type="text/javascript" src="./js/administracion_libros.js"></script>