
<%-include('../partials/head')-%>

    <%-include('../partials/navbar')-%>
<link rel="stylesheet" href="/css/detalle_libro.css">

<div class="container">
    <div class="product-image">
        <img src="/img/libroSelva.webp" id="imagen" alt="Pack Trilogía Caballo De Troya">
    </div>
    <div class="product-details">
        <h1 id="titulo">Pack Trilogía Caballo De Troya 1, 2 Y 3, De Jj Benítez</h1>
        <p id="precio" class="price">$43.990,00 <span class="old-price">$49.990,00</span></p>
        <div class="quantity">
            <button onclick="decrement()">-</button>
            <input type="number" id="quantity" value="1" min="1">
            <button onclick="increment()">+</button>
        </div>
        <button onclick="agregarAlCarrito()">Agregar al carrito</button>
        <div class="description">
            <p>Libros nuevos y completos. Los primeros tres tomos de la saga "Caballo De Troya" de JJ Benítez. Oferta.
                Llegan gratis hoy a tu domicilio o donde indiques.</p>
        </div>
    </div>
</div>


