<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Lectura Mágica - Servicios</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/services.css">


</head>
<body>
    <main class="main-content">
        <section class="services">
            <h2>Nuestros Servicios</h2>
            <div class="service-card">
                <h3>Préstamo de Libros</h3>
                <p>Accede a una vasta colección de libros disponibles para préstamo.</p>
            </div>
            <div class="service-card">
                <h3>Acceso Digital</h3>
                <p>Consulta nuestra biblioteca digital desde cualquier dispositivo.</p>
            </div>
            <div class="service-card">
                <h3>Eventos y Talleres</h3>
                <p>Participa en eventos y talleres educativos para todas las edades.</p>
            </div>
            <div class="service-card">
                <h3>Área de Lectura</h3>
                <p>Disfruta de un espacio tranquilo y cómodo para leer.</p>
            </div>
        </section>
    </main>
</body>
</html>
